.card {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2rem;
  background-color: #f5ece8;
  border: 1px solid #908c88;
  border-radius: 1%;
  text-decoration: none;
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.card-title {
  font-size: 24px;
  color: #8f7353;
}
.card-title:hover {
  color: #523c2f;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.des-box {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  color: #4e5c6f;
}

.sub-detail {
  display: flex;
  gap: 1rem;
}

.topics-span {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.topic-tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  color: #788697;
}
.topic-tag:hover {
  background: #788697;
  color: whitesmoke;
}
